{% extends "layout.html" %}
{% block content %}
<div class="container">
<h2 class="logo">Registration Please</h2>
{% from "_formhelper.html" import render_field %}
<form action="/registration/" method="POST">
<div class="registration">
    <div class="registration-screen">
        <div class="registration-form">
            <dl>
                {{ render_field(form.username) }}
                {{ render_field(form.age) }}
                {{ render_field(form.email) }}
                {{ render_field(form.password) }}
                {{ render_field(form.place) }}
            </dl>
            <p><input type="submit" value="Submit"/></p>
        </div>
    </div>
</div> 
</form>
</div>
{% endblock %}