{% extends "layout.html" %}
{% block content %}

<h2>Change Password</h2>
    {% if session['logged_in'] %}
        
        <form action = "{{url_for('changepassword')}}" method = "POST">
            <div class="login">
                <div class="login-screen">
                    <div class="login-form">
                        <p><input type = "password" class = "form-control" placeholder = "Old Password" name = "old_password" /></p>
                        <p><input type = "password" class = "form-control" placeholder = "New Password" name = "new_password"/></p>
                        <p><input type = "password" class = "form-control" placeholder = "Confirm Password" name = "confirm_password" /></p>

                        <p><input type = "submit" class = "btn btn-primary btn-large btn-block" value = "Update" /></p>
                    </div>
                </div>
            </div>
        </form>


{% endblock %}